<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>{{book.title}}</h1>
        <form action="{{url_for('editBook', book_id = book.id)}}" method="POST">
            <input type="text" size="30" name="name">
            <input type="submit" value="Edit">
        </form>
        <a href="{{url_for('showBook')}}">Cancel</a>
    </body>
</html>