<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Books</h1>
        {% if books == [] %}
            <p>No books exist.</p>
        {% else %}
            {% for i in books %}
                <div>
                    {{i.title}}
                    <br/>
                    <a href={{url_for('renderEditBook', book_id=i.id)}}> Edit Book </a>
                    <br/>
                    <a href={{url_for('renderDeleteBook', book_id=i.id)}}> Delete Book </a>
                    <br/><br/>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>